.task {
    border: 2px solid #aaa719;
    background-color: #d4d37f;
    padding: 10px;
    max-width: 40%;
    width: 100%;
    margin: 10px auto 20px;
    min-height: 130px;
}

.task h1,
.description,
.deadline {
    text-align: center;
}

.task h1 {
    color: lightseagreen;
}

.task .actions {
    display: flex;
    justify-content: center;
}
