.headline {
    text-align: center;
    color: lightseagreen;
}

button.btn {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.65em;
    color: #fff;
    outline: none;
    min-width: 100px;
    text-transform: uppercase;
}

.btn.light {
    background-color: #4eafc9;
    border: 2px solid #2a89a2;
}

.btn.red {
    background-color: #dda66d;
    border: 2px solid #b6821a;
}

.btn.success {
    background-color: green;
    border: 2px solid darkgreen;
}

.btn.new {
    background-color: purple;
    border: 2px solid mediumorchid;
}

.btn.new:hover,
.btn.light:hover,
.btn.red:hover,
.btn.success:hover {
    opacity: 0.8;
}
